@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/poppins-regular-webfont.woff2');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('../fonts/poppins-semibold-webfont.woff2');
}
@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/poppins-medium-webfont.woff2');
}


